body{
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
}

.title-container{
  background: url(../img/bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  background-size: cover;
  min-height: 750px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.title-box{
  background-color: white;
  min-height: 550px;
  border-radius: 25%;
  border: solid #280630;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  font-size: 70px;
  color: #a82392;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight: bolder;
}

.divider{
  border-top: 5px double #a82392;
  width: 250px;
  border-bottom: none;
  border-right: none;
}

.divider2{
  border-top: 5px solid #cdcfd1;
  width: 125px;
  border-bottom: none;
  border-right: none;
  margin-top: 0;
}

.header{
  min-height: 375px;
  background: black;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  display: flex;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 45px;
}

.info-button{
  color: white;
  font-size: 40px;
  border: solid 5px white;
  border-radius: 25%;
  padding: 20px;
  padding-left: 20px;
  margin-top: 35px;
}

.box-pic-1, .box-pic-2, .box-pic-3 {
  height: 500px;
}

.box-pic-1{
  background: url(../img/bg1.jpg) no-repeat center center fixed;
}

.box-pic-2{
  background: url(../img/bg2.jpg) no-repeat center center fixed;
}

.box-pic-3{
  background: url(../img/bg6.jpg) no-repeat center center fixed;
}

.content-container-1, .content-container-2, .content-container-3{
  min-height: 600px;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-container-1{
  background: url(../img/bgg.png);
}

.content-container-2{
  background: url(../img/bg4.png);
}

.content-container-3{
  background: url(../img/bg7.png);
}

.content-box-1, .content-box-2, .content-box-3{
  min-height: 400px;
  border-radius: 20%;
  box-shadow: 0 0 15px #595959;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding-top: 35px;
  padding-bottom: 35px;
}

.content-box-1{
  background: url(../img/bg3.png);
}

.content-box-2{
  background: url(../img/bg5.png);
}

.content-box-3{
  background: url(../img/bg8.png);
}

.footer{
  min-height: 550px;
  background: url(../img/bg9.png);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  color: white;
  text-align: center;
}
